.App {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-icon {
  font-size: 20px; 
  margin-left: -25px; 
  cursor: pointer;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
}


.box {
  position: relative;
}

.dropdown-arrow {
  position: absolute;
  top: 5px; 
  right: 5px; 
  font-size: 20px; 
  cursor: pointer;
}

.description-box {
  background-color: #f5f5f5; 
  border: 1px solid #ddd; 
  padding: 10px;
  margin-top: 10px; 
  border-radius: 5px; 
}

.description-box p {
  margin: 0; 
}

.gender-box{
  background-color: #f5f5f5;
  border: 1px solid #ddd; 
  padding: 10px; 
  margin-top: 10px; 
  border-radius: 5px; 
  width:fit-content
}

.gender-box1{
  background-color: #f5f5f5; 
  border: 1px solid #ddd; 
  padding: 10px; 
  margin-top: 10px; 
  border-radius: 5px; 
  width:fit-content
}

.box {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.box-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.box-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.box-header span {
  margin-left: 10px;
  font-weight: bold;
}

.dropdown-arrow {
  margin-left: auto;
  cursor: pointer;
}

.details {
  margin-top: 10px;
}

.detail-item {
  display: flex;
  flex-direction: column;
}

.detail-item div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.description-box {
  margin-top: 10px;
}

.description-box p {
  margin: 0;
}

.info-table {
  border-collapse: separate;
}

.info-table td {
  padding: 0;
  margin: 0;
}

.info-table td + td {
  padding-left: 150px; 
}


.box {
  position: relative;
}

.edit-delete-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.edit-delete-buttons button {
  margin-left: 5px;
}

